/**
 * Variables
 */
$button-bg: #0D52E9;
$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55, 0, .1, 1);

/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 40em) {

  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(#000, 0.6);
    backface-visibility: hidden;
    transition: opacity $speed $easing, visibility $speed $easing;
  }
}

/**
 * ModalSuccess
 */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(#000, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all $speed $easing;
  z-index: 1000;

  // close modal

  .modal-content {
    text-align: center;
    transition: opacity $speed $easing;
    transition-delay: $delay;
  }
}


/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}
